body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif,
    'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

.g-relative {
  position: relative;
}

.fade-exit {
  opacity: 0;
  transform: translateX(100%);
}

.fade-exit-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-enter-active,
.fade-exit-active {
  transition: all 300ms;
}


.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}

.list-enter-from,
.list-leave-to {
  height: 0 !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
